.mr-body{
    /* max-height: 100vh;
    overflow: hidden; */
}

.mr-body .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0;
    z-index: 100;
}

.mr-body .navbar .navbar-btn{
    margin-left: 5px;
    margin-right: 5px;
}

.mr-body .logo{
    padding-top: 60px;
}

.mr-body .top-content{
    max-height: 35vh;
    overflow: hidden;
}
.mr-body .bott-content{
    max-height: 65vh;
    overflow: hidden;
}

.mr-body .carousel-inner img{
    width: 300px;
    height: 300px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  outline: black;
  /* background-size: 100%, 100%; */
  border-radius: 50%;
  border: 2px solid royalblue;
  background-image: none;
  margin: 0 5px;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  font-weight: 700;
  color: royalblue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  font-weight: 700;
  color: royalblue;
}
.mr-body .btn-table{
    margin-bottom: 5px;
}

@media(max-width:1000px){
    .mr-body h2, .mr-body .h2{
        font-size: 22px;
    }
    .mr-body h3, .mr-body .h3{
        font-size: 20px;
    }
    .mr-body h4, .mr-body .h4, .mr-body .col{
        font-size: 15px;
    }
    .mr-body .carousel-inner img{
        width: 250px;
        height: 250px;
    }
    .mr-body .btn-table{
        font-size: 15px;
        padding: 5px 5px;
        margin-bottom: 5px;
    }
}

@media(max-width:767px){
    .mr-body h2, .mr-body .h2{
        font-size: 20px;
    }
    .mr-body h3, .mr-body .h3{
        font-size: 15px;
    }
    .mr-body h4, .mr-body .h4, .mr-body .col{
        font-size: 12px;
    }
    .mr-body .carousel-inner img{
        width: 200px;
        height: 200px;
    }
    .mr-body .btn-table{
        font-size: 12px;
        padding: 5px 5px;
        margin-bottom: 5px;
    }
}